
.red{
    color: red;
}

.tableEleves{
    padding-top: 2%;
}

.actionButtons{
    padding-top: 5%;
}

.greenIcon{
    color: green;
    font-size: 2em;
}

.redIcon{
    color: red;
    font-size: 2em;
}
